doctype html
html
  head
    title= title
    meta(http-equiv='Content-Type' content='text/html; charset=UTF-8')
    meta(name='viewport' content='width=device-width,initial-scale=1,maximum-scale=1')
    link(href='https://fonts.googleapis.com/icon?family=Material+Icons' rel='stylesheet')
    link(href='/stylesheets/materialize.min.css' type='text/css' rel='stylesheet' media='screen,projection')
    block style
    link(rel='stylesheet', href='/stylesheets/style.css')
  body
    block content
    include messages.pug
    include error.pug
    script(src='https://code.jquery.com/jquery-2.1.1.min.js')
    script(src='/javascripts/materialize.min.js')
    script(src='/javascripts/app.js')
    block script