extends layout

block content
    .window
        header.topbar
            .row
                #logo.col: a= title
                #user.col: a(href="/users/logout") logout
        main.linknote
            .row
                aside#tags.col.s0.m2.l2
                    h1 this tags list
                section#notes-pan.col.s2.m4.l3
                    h4 this notes list
                          a.btn-floating.btn-large.waves-effect.waves-light.red
                            i.material-icons add
                    #notelist
                        ul.ul-notes
                            - var n = 0;
                            while (n < 15)
                                li.ul-item: a.waves-effect.waves-teal.btn-flat note title0 #{n++}
                section#note.col.s10.m6.l7
                    h1 note here
block script
    script(src='/javascripts/notes.js')