extends layout

block content
    form(action='/users/signup' method='post')
        .form-group
            label(for='email') Email
            input.form-control(type='email', name='email' placeholder='Email')
        .form-group
            label(for='password') Password
            input.form-control(type='password', name='password')
        button.btn.btn-primary(type='submit') Register
