body {
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

a {
  color: #00B7FF;
}
.window{
  display:flex;
  flex-direction:column;
  height: 100vh;
  overflow: hidden;
}
.topbar{
  background:hsl(162, 76%, 38%);
  padding: 5px;
}
.linknote{
  flex-grow: 1;
}
.linknote .row{
  height: 100%;
}

li.ul-item > a{
  display: block;
  padding: 3px;
  border-bottom: 1px solid #ffffff;
  font-size: 12px;
}
li.ul-item > a:hover{
  background:#ffffff;
  color: #5a5252;
}
li.ul-item.active > a{
  background:#ffffff;
  color: #5a5252;
}

#notelist{
  height: 100%;
}

#tags-pan{
  background:#5a5252;
  border-right: 1px solid #d9d9d9;
  height: 100vh;
  padding:0px;
  overflow-y: auto;
}
#notes-pan {
  border-right: 1px solid #d9d9d9;
  height: 100vh;
  background: #37a0ca;
  padding:0px;
  overflow-y: auto;
}

#note-pan{
  border-right: 1px solid #d9d9d9;
  height: 100vh;
  padding:0px;
  /* overflow-y: scroll; */
  display:flex;
  flex-direction: column;

}
section#simditor{
  overflow-y:auto;
  flex-grow: 1;

}

.clolist{
  overflow-y: auto;

}
